.filter-category,
.filter-brand {
  margin-bottom: 20px;

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333; // Darker color for better visibility
  }

  .category-tabs,
  .brand-tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; // Space between tabs
  }

  .category-tab,
  .brand-tab {
    padding: 12px 20px;
    background-color: #f1f1f1; // Light background for tabs
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; // Smooth transition for hover effect
    font-size: 1rem; // Larger font size for better readability
    color: #555; // Medium gray for text color

    // Add a subtle shadow effect on hover
    &:hover {
      background-color: #e0e0e0; // Slightly darker on hover
      transform: translateY(-2px); // Slight lift effect
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); // Shadow effect
    }

    &.active {
      background-color: #6c63ff; // Highlight color for active tab
      color: #fff; // White text for active tab
      border: 1px solid #5a54d1; // Darker border for active tab
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); // Stronger shadow for active tab
    }
  }
}
